*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* 
* TOP-HEADER 
*/

a{
    text-decoration: none;
}

.top-header{
    width: 100%;
    padding: 10px 0 0 0;
    border-bottom: 1px solid white;
    position: absolute;
    z-index: 1;
}

.top-header .menu{
    margin-left: 26%;
}

.mobile-menu{
    display: none;
}


.top-header  ul {
    list-style: none;
}

.top-header  ul li{
    display: inline;
    margin-left: 15px;
}

.top-header li a {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

.top-header ul li a:hover {
    text-shadow: 0px 0px 2px white;    
}

.top-span-logo{
    padding: 10px 0 0 0;
}

.span-logo{
    position: relative;
    color: white;
    top: 5px;
    left: 10px;
    font-weight: normal;
}

@keyframes anim01 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.top-logo{
    animation: anim01 5s infinite;
}


/* HOME */

.home{
    background: url(../images/bg-home.jpg);
    background-size: cover;
    background-position: center;
    height: 100%; 
}

.home-center{
    text-align: center;
    height: 100vh;
    margin-top: 25%;
}

.home-center h1{
    font-size: 80px;
    color: rgba(255,255,255, 0.9);
    font-weight: normal;
    margin-top: 140px;
}

.home-center p{
    font-weight: normal;
    color: rgba(255,255,255, 0.5);
    margin-bottom: 30px;

}

.home-center a{
    background: yellowgreen;
    border-radius: 35px;
    padding: 15px 20px;
    margin: 0 auto 140px auto;
    text-align: center;
    color: white;
}

.home-center a:hover{
    text-shadow: 0px 0px 2px white;
}

